@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
/*
html, body, .container {
	height: 100%;
}
*/
body {
	background: #003758 url('../img/iel/mock-04.png') fixed;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  overflow-y: auto;
  min-height: 590px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Arial, sans-serif;
}
