.light-background {
  background: #60AAB6;
}

.sidebar {
  background: #EFF7F8;
  color: #11627F;
  padding-top: 25px;
  text-align: center;
}

.sidebar .sidebar-title {
  font-weight: bold;
  font-size: 10rem;
  line-height: 10rem;
}

.sidebar .sidebar-subtitle {
  text-transform: uppercase;
  padding: 15px 25px 0 0;
  border-top: 3px solid;
}

.sidebar .sidebar-description {
  padding: 0 10%;
  font-size: 1.3em;
}

.progress-label, .progress-icon {
  display: inline-block;
}

.progress-label {
  padding-right: 20px;
  width: 60%;
  text-align: right;
  text-transform: uppercase;
  vertical-align: baseline;
}

.progress-icon {
  background: rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 100px;
  font-size: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}

.progress-icon.with-border {
  border: 5px solid #48737F;
  width: 95px;
  height: 95px;
  box-sizing: content-box;
}

.progress-bar-container {
  background: rgba(100, 171, 182, 0.4);
  border-radius: 25px;
}

.progress-bar {
  background: #EEF6F7;
  border-radius: 25px;
  color: #11627F;
  text-align: right;
  padding: 20px 15px 25px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.progress-bar.danger {
  background: #DE9776;
  color: #FFFFFF;
}

.progress-description {
  color: #0A394A;
  padding: 15px;
  text-transform: uppercase;
  text-align: justify;
}

.graph-container {
  margin-bottom: 20px;
}

.graph-outer {
  background: rgba(255, 255, 255, 0.5);
  width: 110px;
  height: 110px;
  font-size: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  display: inline-block;
}

.graph-inner {
  width: 80px;
  height: 80px;
  font-size: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  border: 3px solid #FFFFFF;
  position: relative;
  top: 15px;
}

.graph {
  width: 90px;
  height: 90px;
  position: relative;
  top: -8px;
  left: -8px;
}

.graph-title {
  text-transform: uppercase;
  display: table;
  min-height: 110px;
}

.graph-title span {
  vertical-align: middle;
  display: table-cell;
}

.graph-percentage {
  min-height: 110px;
  width: 100%;
  display: table;
}

.graph-percentage-label {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.graph-percentage-label > span {
  position: relative;
  top: -5px;
}

.graph-percentage-label > span::after {
  content: "";
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.graph-percentage-line {
  position: absolute;
  height: 1px;
  width: 90%;
  top: 43px;
  left: 20px;
}

.text-right .graph-percentage-line {
  right: 19px;
  left: inherit;
}

#logo {
  width: 75%;
  height: 75%;
}

#title-label h1 {
  font-size: 6rem;
  letter-spacing: -5px;
  margin: 0;
}

#title-label h2 {
  font-size: 3.7rem;
  letter-spacing: -2px;
  margin: -20px 0 0;
}

#title-label h3 {
  font-size: 2.45rem;
  letter-spacing: -2px;
  margin: 0;
}

#title-level {
  font-size: 18rem;
  line-height: 17rem;
  border-bottom: 10px solid #EE9770;
  margin-top: -40px;
  color: #EE9770;
}

#graph {
  margin-top: 50px;
}

#graph-description {
  font-size: 1.4rem;
  padding: 0 10%;
}

#progresses {
  padding-top: 25px;
}

#graphs {
  padding-top: 25px;
}

#solutions {
  padding-top: 300px;
}

#solutions-title {
  text-transform: uppercase;
}

#solutions-title h1 {
  font-size: 4.9rem;
  margin: 0;
}

#solutions-title h2 {
  font-size: 3.3rem;
  text-align-last: justify;
}

#solutions-title h3 {
  font-size: 3.5rem;
  text-align-last: justify;
}

#solutions-title h3 em {
  font-style: normal;
  border-bottom: 5px solid #EE9770;
  color: #EE9770;
}

#solutions-title p {
  padding-top: 2em;
  font-size: 1.3rem;
}

#solutions-graph {
  margin-top: -12.5em;
}

#solutions-boxes {
  margin-top: 100px;
}

.solution-box {
  background: rgba(238, 151, 112, 0.5);
  margin: 0 5px 40px;
}

.solution-box-title {
  background: #EE9770;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
  padding: 5px;
  margin-bottom: 3px;
}

.solution-box-body  {
  font-size: 85%;
  padding: 30px 15px;
}
